<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unit Testing for Angular JS Applications</title>
</head>
<body>
  <p>Scope Inheritance Example</p>
  <div>
    <div ng-controller="MainController">
      <p>Good {{timeOfDay}}, {{name}}!</p>
      <div ng-controller="ChildController">
        <p>Good {{timeOfDay}}, {{name}}!</p>
        <div ng-controller="GrandChildController">
          <p>Good {{timeOfDay}}, {{name}}!</p>
        </div>
      </div>
    </div>
  </div>
  <p>Using a Service</p>
  <div ng-controller="MyController2">
    <p>Let's try this simple notify service, injected into the controller...</p>
    <input ng-init="message='test'" ng-model="message">
    <button ng-click="callNotify(message);">NOTIFY</button>
    <p>(you have to click 3 times to see an alert)</p>
  </div>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-mocks/angular-mocks.js"></script>
  <script src="app.js"></script>
</body>
</html>